@{
  Layout = "_Layout";
}

<h1>Add a new band</h1>
<form action="/bands/new" method="post">
  <label for="band-name">Band name:</label>
  <input id="band-name" name="band-name" type="text">
  <button type="submit">Add new band</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/bands">View all bands</a></p>



@* <h4>Delete a band:</h4>

<form action="/bands/@Model["band"].GetBandId()/delete" method='post'>
  <label for='band-id'>Select a band</label>
  <select id='band-id' name='band-id' type='text'>
    @foreach (var band in @Model["allBands"])
    {
      <option value='@band.GetBandId()'>@band.GetBandName()</option>
    }
  </select>
  <button type='submit'>Delete</button>
</form> *@
